<article
  class="bg-amber-100 hover:bg-amber-200 transition-all duration-300 rounded-lg shadow-2xl border w-md relative"
>
  <img [src]="city().image" [alt]="city().name" class="h-60 w-full object-cover rounded mb-3" />
  <div class="m-4">
    <h3 class="text-lg font-semibold">{{ city().name }} · {{ city().country }}</h3>
    <p class="text-sm text-gray-600">{{ city().description }}</p>
    <p class="text-sm text-gray-500">Guardada el {{ city().savedAt }}</p>
  </div>
  <button
    class="text-red-600 text-sm border-red-600 rounded-md bg-red-200 hover:bg-red-900 hover:text-amber-200 p-2 absolute right-1 bottom-1"
  >
    Quitar
  </button>
</article>
